<!DOCTYPE html>
<html >
    <head>
      
         <title>All Events</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
		<link rel="shortcut icon" type="image/x-icon" href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/img/favicon.ico">
       
<script type="text/javascript" src="handlebars-v4.7.6.js"></script>

		<!-- CSS here -->
            <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/css/flaticon.css">
            <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/css/price_rangs.css">
            <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/css/slicknav.css">
            <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/css/animate.min.css">
            <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/css/magnific-popup.css">
            <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/css/themify-icons.css">
            <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/css/slick.css">
            <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/css/nice-select.css">
            <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/css/style.css">
            <style>

    .header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
</style>
   </head>

   <body>
    <!-- Preloader Start -->
      <div class="header">
  <h1><img src="https://img.icons8.com/cute-clipart/100/000000/event-accepted.png"/>  Upcoming Events</h1>
</div>
<div>


</div>
    
        <section >
            <div class="container">
                <!-- Section Tittle -->
            <!--    <div class="row"> 
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>Recent openings</span>
                            <h2>Featured Jobs/Internships</h2>
                        </div>
                    </div>
                </div>  -->
               
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <!-- single-job-content -->
                        
                        <!-- single-job-content -->
                      <div id="displayArea"></div>
         
        
          
    
        {{#each data}}
       <p>{{>alljobs}}</p>
        {{/each}}
    +

    
                         <!-- single-job-content -->
                      
                         <!-- single-job-content -->
                      
                    </div>
                </div>
            </div>
        </section>
        <!-- Featured_job_end -->
        <!-- How  Apply Process Start-->
      

   
   

  <!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/js/vendor/jquery-1.12.4.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/js/owl.carousel.min.js"></script>
        <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/js/slick.min.js"></script>
        <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/js/price_rangs.js"></script>
        
		<!-- One Page, Animated-HeadLin -->
        <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/js/wow.min.js"></script>
		<script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/js/animated.headline.js"></script>
        <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/js/jquery.scrollUp.min.js"></script>
        <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/js/jquery.nice-select.min.js"></script>
		<script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/js/contact.js"></script>
        <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/js/jquery.form.js"></script>
        <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/js/jquery.validate.min.js"></script>
        <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/js/mail-script.js"></script>
        <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/js/plugins.js"></script>
        <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/jobfinderportal/assets/js/main.js"></script>

         <script type="text/javascript">
     
/*
var tmpHtml = document.getElementById("myTemplate").innerHTML;
var template = Handlebars.compile(tmpHtml);
  
      
    var data={result:[{position:'MANAGER'}]
};
      
  

var html = template(data);

document.getElementById("displayArea").innerHTML += html;*/
    </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
       
    </body>
</html>