<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/colorlib-regform-9/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/colorlib-regform-9/css/reg.css">
</head>
<body>

    <div class="main">

        <div class="container">
            <div class="signup-content">
                <form method="POST" id="signup-form" class="signup-form" action="/register">
                    <h2>Forgot Password </h2>
                    <p class="desc">Please your roll number as your username</br><span>eg:(COE18B027)</span></p>
                     <div class="form-group">
                        <input type="text" autocomplete="off" class="form-input" name="username" id="email" placeholder="Username"/>
                    </div>
                    <div class="form-group">
                        <input type="email" autocomplete="off" class="form-input" name="email" id="name" placeholder="Your institute mail id"/>
                    </div>
                   
                    <div class="form-group">
                        <input type="text" class="form-input" name="otp" id="password" placeholder="otp you recieved"/>
                    </div>

                       <div class="form-group">
                        <input type="password" class="form-input" name="password" id="password" placeholder="New Password"/>
                    </div>
                    
                    
                    <div class="form-group">
                        <button name="submit" id="submit" class="form-submit submit" value="Sign up">Submit</button>
                        <a href="/login" class="submit-link submit">Sign in</a>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/colorlib-regform-9/vendor/jquery/jquery.min.js"></script>
    <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/colorlib-regform-9/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>