<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Update your Profile</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Icons font CSS-->
    <link href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/colorlib-regform-5/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/colorlib-regform-5/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/colorlib-regform-5/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/colorlib-regform-5/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/colorlib-regform-5/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Update your info</h2>
                </div>
                <div class="card-body">
    <form action='/pic' method="POST" enctype="multipart/form-data">


    <div class="file-field input-field">
        <div class="btn grey">
        <span>Upload your latest profile picture</span>
        <input name="file" type="file">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <button type="submit" class="btn">Upload</button>
 </form>
                    <form method="POST" action="/info">
                        <div class="form-row m-b-55">
                            <div class="name">Name</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="firstname" required>
                                            <label class="label--desc">first name</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="lastname" required>
                                            <label class="label--desc">last name</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                          <div class="form-row">
                            <div class="name">Job Position</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="position" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Company</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="company" required>
                                </div>
                            </div>
                        </div>
                          <div class="form-row">
                            <div class="name">Currently Residing at</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="residence" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="email" name="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Pastexperience position</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="pastexperience" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Pastlocation</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="pastlocation" required>
                                </div>
                            </div>
                        </div>
                          <div class="form-row">
                            <div class="name">PastCompany</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="pastcompany" required>
                                </div>
                            </div>
                        </div>
                          <div class="form-row">
                            <div class="name">If completed graduate studies -University</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="university" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-b-55">
                            <div class="name">Phone</div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-3">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="areacode" required>
                                            <label class="label--desc">Area Code</label>
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="phone" required>
                                            <label class="label--desc">Phone Number</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                      
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/colorlib-regform-5/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/colorlib-regform-5/vendor/select2/select2.min.js"></script>
    <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/colorlib-regform-5/vendor/datepicker/moment.min.js"></script>
    <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/colorlib-regform-5/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
      <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://s3.ap-south-1.amazonaws.com/www.databasemanagement.com/colorlib-regform-5/js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->